#wrap{
    display: inline-flex;
    float: right;
}

.open{
    width: 400px;
    transition: width 0.4s ease-in;

}

.close{
    transition: width 0.4s ease-out 0.2s;
    width: 0px;
}

.autoComplete{
    text-align: right;
    position: relative;
}

.mode{
    transition:  0.4s;
    float: right;
    display: inline-flex;
    align-self: center;
}

.mode>svg{
    height: .9em;
    width: .9em;
    top: .35em;
    right: .6em;
    position: relative;
}

.showModeChoice{
    opacity: 1;
    transition: opacity 0.4s ease-in 0.2s;
}

.hiddenModeChoice{
    opacity: 0;
    transition: opacity 0.4s ease-out;
    visibility: hidden;
}

.search-icon{
    margin-bottom: 5rem!important;
}
